flows.json
[{"id":"e1448bd9.707cd8","type":"tab","label":"Flow 2(Customer Help Desk)","disabled":false,"info":""},{"id":"a50410f5.ecc84","type":"ui_form","z":"e1448bd9.707cd8","name":"","label":"","group":"1f028376.657bbd","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":167,"y":239,"wires":[["25564f68.bd375"]]},{"id":"25564f68.bd375","type":"function","z":"e1448bd9.707cd8","name":"input parsing","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":248,"wires":[["2e4fb81a.62d188","95d23b79.03f038"]]},{"id":"7d17699.acde598","type":"function","z":"e1448bd9.707cd8","name":"parsing","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":676,"y":255,"wires":[["2d5f02df.60c57e","87b902fa.d1367"]]},{"id":"2e4fb81a.62d188","type":"watson-conversation-v1","z":"e1448bd9.707cd8","name":"Customer Care","workspaceid":"512fa81f-626d-4674-ac5d-b13d30bbb25a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/be65e0b6-4c6b-4511-bd51-5c0d095324a6","timeout":"","optout-learning":false,"x":492,"y":140,"wires":[["d7ca0ad8.d7de98","7d17699.acde598"]]},{"id":"95d23b79.03f038","type":"ui_text","z":"e1448bd9.707cd8","group":"1f028376.657bbd","order":2,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-left","x":388,"y":355,"wires":[]},{"id":"d7ca0ad8.d7de98","type":"debug","z":"e1448bd9.707cd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":620,"y":25,"wires":[]},{"id":"2d5f02df.60c57e","type":"ui_text","z":"e1448bd9.707cd8","group":"1f028376.657bbd","order":3,"width":16,"height":4,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-left","x":766,"y":346,"wires":[]},{"id":"87b902fa.d1367","type":"ui_audio","z":"e1448bd9.707cd8","name":"audio out","group":"1f028376.657bbd","voice":"en-GB","always":true,"x":759,"y":137,"wires":[]},{"id":"a7b51175.fde3d","type":"inject","z":"e1448bd9.707cd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hi","payloadType":"str","x":210,"y":120,"wires":[["2e4fb81a.62d188"]]},{"id":"1f028376.657bbd","type":"ui_group","z":"e1448bd9.707cd8","name":"Chatbot","tab":"c0ce1a7d.500dc8","order":1,"disp":true,"width":16,"collapse":false},{"id":"c0ce1a7d.500dc8","type":"ui_tab","z":"","name":"Customer Care Help Desk","icon":"dashboard","disabled":false,"hidden":false}]